<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>host</key>
    <string>https://psdev.feedhenry.com</string>
    <key>appid</key>
    <string>wg4e89HdHvddA-DueW1Q1Zxc</string>
    <key>appkey</key>
    <string>8227c62dff42ebdf5f25d520b3b06cb043047172</string>
    <key>mode</key>
    <string>dev</string>
  </dict>
</plist>