<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>https://testing-lon3.feedhenry.com</string>
	<key>appid</key>
	<string>nge_BSsKHNQ2slB3B1LuvbWr</string>
	<key>appkey</key>
	<string>ddbd3f9d8c6bbf37071acc481cd7b37e10534591</string>
	<key>mode</key>
	<string>dev</string>
</dict>
</plist>
