<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>host</key>
        <string>http://testing.feedhenry.com</string>
        <key>appid</key>
        <string>APP_ID</string>
        <key>appkey</key>
        <string>APP_KEY</string>
        <key>mode</key>
        <string>dev</string>
        <key>projectid</key>
        <string>PROJECT_ID</string>
        <key>connectiontag</key>
        <string>CONNECTION_TAG</string>
        <key>serverURL</key>
        <string>serverlURL</string>
        <key>variantID</key>
        <string>variantID</string>
        <key>variantSecret</key>
        <string>variantSecret</string>
    </dict>
</plist>
