<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>http://testing.stg2.feedhenry.com</string>
	<key>appid</key>
	<string>MDN2w3G24qEP6nkY1OPUSCue</string>
	<key>appkey</key>
	<string>7d1d0eb813e9c68152f991e35e95dfc665d19f37</string>
	<key>mode</key>
	<string>dev</string>
</dict>
</plist>
