<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>&lt;Replace with the corret host value&gt;</string>
	<key>appid</key>
	<string>&lt;Replace with your app id&gt;</string>
	<key>appkey</key>
	<string>&lt;Replace with your app key&gt;</string>
	<key>mode</key>
	<string>&lt;dev or live&gt;</string>
</dict>
</plist>
