<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>http://testing.feedhenry.com</string>
	<key>appID</key>
	<string>testappid</string>
	<key>appKey</key>
	<string>testkey</string>
	<key>mode</key>
	<string>dev</string>
</dict>
</plist>
