<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>host</key>
        <string>https://redhat-demos-t.sandbox.feedhenry.com</string>
        <key>appid</key>
        <string>v63zu2qoi62ontzj3pxkxs6x</string>
        <key>projectid</key>
        <string>v63zu2r2dgc7mqqy45wuiivk</string>
        <key>appkey</key>
        <string>6e062079da0ad4983aabfd71156405f7c739c62c</string>
        <key>connectiontag</key>
        <string>0.0.2</string>
    </dict>
    
    
</plist>
