<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>host</key>
    <string>hosthere</string>
    <key>appid</key>
    <string>appidhere</string>
    <key>projectid</key>
    <string>projectidhere</string>
    <key>appkey</key>
    <string>appkeyhere</string>
    <key>connectiontag</key>
    <string>connectiontaghere</string>
  </dict>
</plist>